body {
   font-family: Arial, sans-serif;
   background-color: wheat;
   margin: 0;
   padding: 0;
}

h1 {
   color: #000000;
   text-align: center;
   margin-top: 20px;
   font-weight: 800;
}

ul {
   list-style-type: none;
   padding: 0;
}

/* Estilo para el contenedor de las tarjetas */
.product-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center; /* Asegura que las tarjetas estén centradas */
   padding: 20px;
}

/* Estilo para cada tarjeta de producto */
.product-card {
   background-color: #ffffff;
   border: 3px solid #000000;
   border-radius: 9px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   flex-basis: calc(33.3333% - 20px); /* Ajusta el ancho para 3 tarjetas por fila */
   margin: 10px;
   padding: 20px;
   text-align: center;
   transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
   transform: scale(1.05);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
   max-width: 100%;
   border-radius: 4px;
}

.product-card h2 {
   font-size: 1.5em;
   margin: 10px 0;
}

.product-card p {
   color: #555555;
   font-size: 1em;
}

/* Estilo para el formulario */
.textForm {
   max-width: 600px;
   margin: 20px auto;
   margin-top: -20px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #000000;
   text-align: center;
   font-weight: 800;
}

form {
   max-width: 600px;
   margin: 20px auto; /* Centra el formulario horizontalmente */
   padding: 20px;
   background-color: #2427cf;
   border: 3px solid #000000;
   display: flex;
   flex-direction: column;
   align-items: center; /* Centra los elementos dentro del formulario */
}

form input {
   width: 100%;
   margin-bottom: 20px;
   padding: 10px;
   border: 3px solid #000000;
}

form button {
   background-color: greenyellow;
   width: 100%;
   padding: 10px;
   border: 3px solid #000000;
}

/* Config del boton de borrar */
.product-card button {
   background-color: red;
   color: white;
   border:3px solid black;
   border-radius: 4px;
   padding: 5px 10px;
   font-size: 0.9em;
   cursor: pointer;
   transition: background-color 0.3s;
}

.product-card button:hover {
   background-color: darkred;
}
